parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'done' on mixed\\.$#"
			count: 2
			path: src/DbalRepository.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 2
			path: src/DbalRepository.php

		-
			message: "#^Cannot access offset 'sagaId' on mixed\\.$#"
			count: 1
			path: src/DbalRepository.php

